@import 'input-range-variables';
@import 'input-range-slider';
@import 'input-range-label';
@import 'input-range-track';

.input-range {
  height: $input-range-slider-height;
  position: relative;
  width: 100%;
  padding: #{-$input-range-label-value-position-top} 0 #{-$input-range-label-position-bottom} 0;
}
